<div class="ui-widget">
<div class='ui-widget-header ui-corner-top' style="padding:2px">
    <h2>{%if ArmanForm.instance%}
        {%if ArmanForm.MappedToCurrent %}Edit Information:{%else%}Edit Relative Information:{%endif%}
        {%else%}
        {%if ArmanForm.MappedToCurrent %}Register:{%else%}Register Relative:{%endif%}
        {%endif%}
    </h2>
</div>
<div class="ui-widget-content ui-corner-bottom" style="border:1;padding:10px">
<form method='post' id="ArmanForm_edit" action='{% url ArmanController %}'>
    <input type='hidden' name='key' value={{ArmanForm.instance.key}}></input>
    <input type='hidden' name='MappedTo' value='{{ArmanForm.instance.MappedTo.key}}'></input>
    <table>
        <tr style="border-top:solid 1px;border-left:solid 1px;border-right:solid 1px;">
            <td style="text-align:right;">
            {{ ArmanForm.Name.label_tag }}:
            </td>
            <td>
            <input type='text' id="id_Name" name="Name" 
                {%if ArmanForm.instance%}value="{%if ArmanForm.instance.MappedTo%}{{ArmanForm.instance.MappedTo.Name}}{%else%}{{ArmanForm.instance.Name}}{%endif%}"
                {%else%}value="{%if ArmanForm.MappedToCurrent%}{{current_user.Name}}{%endif%}"{%endif%}
                {%if ArmanForm.instance.MappedTo%}readonly="readonly"{%endif%} />
            </td>
            <td style='color: red;'>
            {{ ArmanForm.Name.errors }}
            </td>
        <tr>
        <tr>
            <td style="text-align:right;">
            {{ ArmanForm.Surname.label_tag }}:
            </td>
            <td>
            <input type='text' id="id_Surname" name="Surname" 
                {%if ArmanForm.instance%}value="{%if ArmanForm.instance.MappedTo%}{{ArmanForm.instance.MappedTo.Surname}}{%else%}{{ArmanForm.instance.Surname}}{%endif%}"
                {%else%}value="{%if ArmanForm.MappedToCurrent%}{{current_user.Surname}}{%endif%}"{%endif%}
                {%if ArmanForm.instance.MappedTo%}readonly="readonly"{%endif%} />
            </td>
            <td style='color: red;'>
            {{ ArmanForm.Surname.errors }}
            </td>
        <tr>
        <tr>
            <td style="text-align:right;" >{{ArmanForm.Email.label_tag}}</td>
            <td><input type='text' id="id_Email" name="Email"
                {%if ArmanForm.instance%}value="{%if ArmanForm.instance.MappedTo%}{{ArmanForm.instance.MappedTo.Email}}{%else%}{{ArmanForm.instance.Email}}{%endif%}" 
                {%else%}value="{%if ArmanForm.MappedToCurrent%}{{current_user.Email}}{%endif%}"{%endif%}
                {%if ArmanForm.instance.MappedTo%}readonly="readonly"{%endif%} /></td>
            <td style='color: red;'>{{ArmanForm.Email.errors}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                {%include AutoFillAddress%}
            </td>
            <td colspan="2">
              <div style='color: red;'>
                {{ArmanForm.PersonalAddressForm.message.errors }}
              </div>
              <table id="id_addressTable">
                  {{ArmanForm.PersonalAddressForm.as_table}}
              </table>
            </td>
        </tr>
        <tr>
            <td  style="text-align:right;">{{ArmanForm.Facebook.label_tag}}</td>
            <td>{{ArmanForm.Facebook}}</td>
            <td style='color: red;'>{{ArmanForm.Facebook.errors}}</td>
        </tr>
        <tr>
            <td  style="text-align:right;">{{ArmanForm.MobilePhone.label_tag}}</td>
            <td>{{ArmanForm.MobilePhone}}</td>
            <td style='color: red;'>{{ArmanForm.MobilePhone.errors}}</td>
        </tr>
        <tr>
            <td  style="text-align:right;">{{ArmanForm.HomePhone.label_tag}}</td>
            <td>{{ArmanForm.HomePhone}}</td>
            <td style='color: red;'>{{ArmanForm.HomePhone.errors}}</td>
        </tr>
        <tr>
            <td  style="text-align:right;">{{ArmanForm.IsSpeakingArman.label_tag}}</td>
            <td>{{ArmanForm.IsSpeakingArman}}</td>
            <td style='color: red;'>{{ArmanForm.IsSpeakingArman.errors}}</td>
        </tr>
        <tr>
            <td  style="text-align:right;">{{ArmanForm.IsWriteingArman.label_tag}}</td>
            <td>{{ArmanForm.IsWriteingArman}}</td>
            <td style='color: red;'>{{ArmanForm.IsWriteingArman.errors}}</td>
        </tr>
    </table>
    <input type='submit' value={%if ArmanForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
</div>
</div>
