<div id="RelativeList">
    {%for conn in connectionsList%}
        {%ifnotequal current_user.key conn.Arman.MappedTo.key%}
            <p><a href="{%url ArmanController%}?key={{conn.Arman.key}}">{{conn.Arman.Name}} {{conn.Arman.Surname}}</a>
                Added By:<a href="{%url ArmanController%}?key={{conn.AddedBy.key}}">
                    {%ifequal current_user.key conn.AddedBy.MappedTo.key%}
                        Me
                    {%else%}
                    {{conn.AddedBy.Name}} {{conn.AddedBy.Surname}}</a>
                    {%endifequal%}
            </p>
        {%endifnotequal%}
    {%endfor%}
</div>
