<h2>Nalog: </h2>
<form id='NalogForm' method='post' action='{% url NalogController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{NalogForm.instance.key}}></input>
<table>
{% for field in NalogForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if NalogForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
<a href='{%url NalogController%}'>Back</a>