<h2>PlataZaMesec: </h2>
<form id='PlataZaMesecForm' method='post' action='{% url PlataZaMesecController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{PlataZaMesecForm.instance.key}}></input>
<table>
{% for field in PlataZaMesecForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if PlataZaMesecForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
<a href='{%url PlataZaMesecController%}'>Back</a>