<h2>Rabota: </h2>
<form id='RabotaForm' method='post' action='{% url RabotaController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{RabotaForm.instance.key}}></input>
<table>
{% for field in RabotaForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if RabotaForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
<a href='{%url RabotaController%}'>Back</a>