<h2>Rezija: </h2>
<form id='RezijaForm' method='post' action='{% url RezijaController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{RezijaForm.instance.key}}></input>
<table>
{% for field in RezijaForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if RezijaForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
<a href='{%url RezijaController%}'>Back</a>