{% extends base %}
{% block content %}
<div class="ui-widget ui-corner-all" style="border:1px solid black; width:100%; margin: 5px; min-height: 350px">
    <div class="ui-widget-content" style="padding-left: 15px;">
        <h2>Informari ti turnamentul(Информација за Турнирот)</h2>
    </div>
    <div style="padding: 5px">
        <p><span style="color: #000000;"><br /></span></p>
<p><img style="float: left;" title="Tinirlji Pi Cicior" src="http://lh4.ggpht.com/_uoG9bahtifc/TLIKH3P6erI/AAAAAAAAAJ4/CfZMQcLoM6g/s512/bedz.jpg" alt="Revolution" width="200" height="284" /><strong><span style="font-size: small;"><span style="color: #000000;">&nbsp;Consiliu a tinirlor Arm&atilde;nj ditu Machedonii &ldquo;Cristina Costova-Gioga&rdquo;</span></span></strong><span style="font-size: small;"><span style="color: #000000;"> organizeadz&atilde; turnir di fudbal tu tinjii ali Cristina Costova-Gioga shi Toshe Proeschi. Va s-agioac&atilde; tiniri fudbaleri Arm&atilde;nj di tu Machedonii, Arbinishii shi G&atilde;rtsii.</span></span></p>
<p><span style="font-size: small;"><span style="color: #000000;"> </span></span></p>
<hr />
<p>&nbsp;</p>
<p><span style="font-size: small;"><span style="color: #000000;">16 di xumedru (s&atilde;mb&atilde;t&atilde;) di la oara 18. </span></span></p>
<p><span style="font-size: small;"><span style="color: #000000;">17 di xumedru (dum&atilde;nic&atilde;) di la oara 14. </span></span></p>
<p><span style="font-size: small;"><span style="color: #000000;">Sala FORTSA-Mobimak &ndash; Scopie. </span></span></p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><span style="font-size: small;"><span style="color: #000000;">V&atilde; c&atilde;lisim s-yinits s-didets suportu a fudbalerlor anoshts&atilde; shi s-didets tinjii ali Cristina shi al Toshe. </span></span></p>
<p><span style="font-size: small;"><span style="color: #000000;">Tu partea cultural&atilde; va s-lja parti tiniri c&atilde;nt&atilde;tori Arm&atilde;nj cu c&atilde;ntits arm&atilde;neshts&atilde;.  Coctelu va s-ts&atilde;n&atilde; s&atilde;mb&atilde;t&atilde; di la oara 20.30 la hotelu Alexandar Palas. </span></span></p>
<p><span style="color: #000000;"><br /></span></p>
<p><span style="color: #000000;"><br /></span></p>
<p><span style="font-size: small;"><span style="color: #000000;">Советот на млади Власи од Македонија &bdquo;Кристина Костова-Џога&ldquo; организира турнир во мал фудбал во чест на Кристина Костова-Џога и во чест на Тоше Проески. Ќе се натпреваруваат екипи на млади фудбалери Власи од Македонија, Албанија и Грција.</span></span></p>
<hr />
<p><span style="font-size: small;"><span style="color: #000000;">16 октомври почеток 18 часот.</span></span></p>
<p><span style="font-size: small;"><span style="color: #000000;">17 октомври почеток 14 часот </span></span></p>
<p><span style="font-size: small;"><span style="color: #000000;">Сала ФОРЦА-Мобимак &ndash; Скопје.</span></span></p>
<p><span style="color: #ffffff;"><span style="font-size: small;"><span style="color: #000000;">&nbsp;</span></span></span></p>
<hr />
<p><span style="font-size: small;"><span style="color: #000000;">Ве покануваме да ги поддржите младите Власи и да им оддадеме почит на Кристина и Тоше. Дел од програмата на турнирот ќе бидат и млади влашки пејачки имиња со стари и новокомпонирани влашки песни. </span></span></p>
<p><span style="font-size: small;"><span style="color: #000000;"> Коктел-забава во х. Александар Палас, сабота, 20.30 часот.</span></span></p>    
    </div>
</div>
{% endblock %}