{% extends base %}
{% block scripts %}
{{block.super}}
{% endblock %}

{% block content %}
{%include ImporterForm_import %}
{% if check %}
</hr>
<h2>Errors:</h2>
{%for er in Importer.Errors %}
{{er}}
<hr></hr>
{%endfor%}
 <hr></hr>
 <h2>Results:</h2>
 <table>
{% for item in WordList %}
    <tr>
        <td>
            {{item}}
        </td>
        <td><a href='{%url WordController %}?op=shw&key={{item.key}}'>Detail</a></td>
        <td> <a href='{%url WordController %}?op=del&key={{item.key}}'>Delete</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}