{%extends base%}
{%block scripts%}
{{block.super}}
<script type="text/javascript" src='/jscripts/jquery.form.js'></script>
<script type="text/javascript">
$(function(){
	$('.SearchForm_search').ajaxForm({target: '#SearchForm_results', beforeSubmit:showSearchLoader, afterSubmit:rebindLinks});
	$('#RefreshRandom').ajaxForm({target: '#SearchForm_random'});
    $('#RefreshRandomSubmit').click(function(){
    	$('#SearchForm_random').empty().html("<img src='/images/ajax-loader.gif' />");
    	$('#RefreshRandom').submit();
    	return false;
     });
    $('.delete').click(deleteEvent);
});
function deleteEvent(){
    var item = $(this).parrent().parrent();
    var url = $(this).attr('href');
    $.ajax({type:'POST', url:url, cache:false,
        success: function(){
           item.slideUp('slow', function() {$(this).remove();});
        }
    });
    return false;
}
function rebindLinks(){
	$('#SearchForm_results .delete').click(deleteEvent);
}
function showSearchLoader(){
	$('#SearchForm_results').visible=true;
	$('#SearchForm_results').empty().html("<img src='/images/ajax-loader.gif' />");
}
$(function(){
	$('#languageTabs').tabs();
});
</script>
{% endblock %}

{% block content %}
<div id="languageTabs">
<ul>
    {% for SearchForm in SearchForms %}
    <li><a href="#{{SearchForm.instance.Language1.Code}}-{{SearchForm.instance.Language2.Code}}">{{SearchForm.instance.Language1}}-{{SearchForm.instance.Language2}}</a></li>
    {% endfor %}
</ul>
{% for SearchForm in SearchForms %}
<div id="{{SearchForm.instance.Language1.Code}}-{{SearchForm.instance.Language2.Code}}">
	<div> 
	{%include SearchForm_search %}
	</div>
	<div id="SearchForm_results" style="margin-bottom: 20px; min-height:280px">
	{% include SearchForm_results %}
	</div>
	<div style="margin-top: 20px; {%if randomResults %} {%else%}visibility:hidden;{%endif%}">
	    <div class="ui-widget-header" style="padding-left:10px ">
	        <table><tr>
			    <td>Зборови по случаен избор</td>
			    <td> 
				    <form id='RefreshRandom' action="">
				     <input type="hidden" name="op" value="random" />
				     <a href="#" id="RefreshRandomSubmit" title="Нови случајни зборови"><img src='/images/refresh.png' width="30px" /></a>
				    </form>
			    </td>
	        </tr></table>
	    </div>
	    
		<div id="SearchForm_random" class="ui-widget-content ui-corner-bottom" style="padding:10px; opacity:0.7" >
		{%include SearchForm_random %}
		</div>
	</div>
</div>
{%endfor%}
</div>
{% endblock %}