<h2>Branch: </h2>
<form id='BranchForm' method='post' action='{% url BranchController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{BranchForm.instance.key}}></input>
<table>
{% for field in BranchForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if BranchForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
<a href='{%url BranchController%}'>Back</a>