<div>
Informations entered in this application will be used only for accomodation management for the guests on the tournament. 
They will not be used/abused in any other way.
<br></br>Except the members of our organisation that are appointed to manage the accomodation, no one else has access to your personal data.
<br></br>Best regards, <b>Vlach Youth Council of Macedonia</b><br/>
<b>And... Let's put a mark in the history ;)</b>
</div>
<div style="width:600px">
<h2>Guest Application: </h2>
<form method='post' action='{% url GuestController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{GuestForm.instance.key}}></input>
<table>
{% for field in GuestForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if GuestForm.instance.key%} 'Update' {% else %} 'Apply' {%endif%} style="width: 100%;heigth:25px;font: bold 10px"></input>
</form>
</hr>
</hr>
</div>