<div>
Инфомациите внесени од ваша страна ќе бидат искористени само во врска со сместувањето и нема да се злупотребат на никаков начин.
Формуларот и сите податоци ќе бидат избришани после натпреварот. 
<br></br>Освен членовите на нашата организација кои се задолжени за сместување на гостите од странство, никој друг нема пристап до овие информации.
<br></br>Со Почит <b>Совет на Млади Власи од Македонија</b>
</div>
<div style="width:600px">
<h2>Пријави се: </h2>
<form method='post' action='{% url HostController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{HostForm.instance.key}}></input>
<table>
{% for field in HostForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if HostForm.instance.key%} 'Update' {% else %} 'Пријави се' {%endif%} style="width: 100%;heigth:25px;font: bold 10px"></input>
</form>
</hr>
</hr>
</div>