{% extends base %}
{% block styles%}
{{block.super}}
<link href="/styles/ArmanListing.css" rel="stylesheet" type="text/css" media="screen" />
<style type="text/css">
#id_ArmanFormDiv{
    float:left;
    width: 370px;
    border-right: blue solid 1px;
}
</style>
{%endblock%}
{% block scripts %}
{{block.super}}
<script type="text/javascript" src='/jscripts/jquery.form.js'></script>
<script type="text/javascript">
// $(function(){
//     $('#ArmanForm_edit').ajaxForm({beforeSubmit:showSaveLoader, afterSubmit:rebindLinks});
// });
</script>
{% endblock %}

{% block content %}
  <div>
    {%include ArmanForm_edit %}
  <div class="post" style="float:left; margin-left:10px; width:260px;">
    <div class="postHeader"><h1>Vrski</h1></div>
    <div class="postContent">
    <ul>
     {%include ConnectionsList %}
    </ul>
    </div>
  </div>
  </div>
{% endblock %}
