{% extends base %}
{% block styles%}
{{block.super}}
<link href="/styles/ArmanListing.css" rel="stylesheet" type="text/css" media="screen" />
{%endblock%}
{% block scripts %}
{{block.super}}
<script type="text/javascript" src='/jscripts/jquery.form.js'></script>
<script type="text/javascript">
// $(function(){
//     $('#ArmanForm_edit').ajaxForm({beforeSubmit:showSaveLoader, afterSubmit:rebindLinks});
// });
</script>
{% endblock %}

{% block content %}
  <div style="float:left; width:400px">
    {%include ArmanForm_edit %}
  </div>
  <div style="float:left; margin-left:10px; width:300px; border:solid;padding:10px"; class='ui-corner-all'>
    <h2 style="margin-top:-10px">Vrski</h2>
    <ul>
     {%include ConnectionsList %}
    </ul>
  </div>
{% endblock %}
