
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">av</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
        = avijacija              (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">aviatsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">adg</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
      = pridavka              (adgectiv)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">adv</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
      =  prilog                 (a</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">dverb</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">anat</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
     = anatomija            (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">anatomii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">arh</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
       = arhaizam              (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">arhaismu</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">arheol</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
  = arheologija         (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">arheologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">arhit</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
     = arhitektura        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">arhitecturã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">art.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
         =  umetnost               (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">artã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
 </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">astr.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       = astronomija        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">astronomii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">augm.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
    = augmentativ        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">augmentativ</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">bãs.
        </FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">=
 crkoven                (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">bãserichescu</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">biol.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       = biologija             (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">biologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">bot.
</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       = botanika             (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">botanicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">conj.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  svrznik                  (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">conjunctsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">dem.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
      =  deminutiv            (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">deminutiv</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">dipl.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       = diplomatija         (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">diplomatsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">dr.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
          =  pravo                     (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">ãndreptu</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">econ.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
      =  ekonomija            (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">economii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">
</FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">elec.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  elektrotehnika  (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">electrotehnicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
 </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">expr.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
         = izreka                     (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">expresii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">fam.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  familijaren        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">familiar</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">farm.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
      =  farmacija            (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">farmatsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">fig.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
         =  figurativno        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">figurativ</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">fiz.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
         =  fizika                  (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">fizicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">fiziol.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
     = fiziologija         (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">fiziologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">fil.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
          =  filozofija         (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">filozofii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">fin.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
         =  finansii             (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">finantsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">fraz.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  frazeolo{ki      (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">frazeologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">geogr</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
    = geografija           (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">gheografii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">geod</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
     = geodezija              (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">gheodezii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">geol</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
      = geologija              (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">gheologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">grad</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
      = grade`ni{tvo     (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">constructsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">gram</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
     =  gramatika            (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">gramaticã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">hem.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  hemija                   (hemija)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">interj.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
     = izvik                       (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">interjectsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">invar.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
     =  nepromenliv        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">invariabil</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">iron.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  ironi~no               </FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">(ironic)</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">ist.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
          =  istorija                 (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">isturii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">lingv.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
      =  lingvistika          (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">lingvisticã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">lit.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
           =  literatura            (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">literaturã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">mat.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
        =  matematika           (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">matematicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">med.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  medicina               (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">meditsinã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">meh.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  mehanika               (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">mehanicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">metal.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
     =  metalurgija          (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">metalurghii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">meteor.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
   =  meteorologija     (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">meteorologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">min.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
        =  mineralogija       (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">minerologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">mit.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
         =  mitolgija              (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">mitologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">muz.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  muzika                   (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">muzicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">partic</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
    =  partikula             (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">particulã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">pas.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
        =  pasiv                      (pasiv)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">pejor.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
     =  pe`orativ           (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">pejorativ</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">plur.
tantum</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
= imenki koi imaat samo mno`ina</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">poet.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  poetski                 (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">poetic</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">polit.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
      =  politi~ki ter.   (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">politicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">prep</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
      =  predlog                 (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">prepozitsii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">pron</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
      =  zamenka                 (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">pronumi</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
  </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">psih.
</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
      =  psihologija          (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">psihologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">r</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
            =  refleksiven        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">reflexiv</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">reg.
</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  regionalen           (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">reghional</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">rel.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
         =  religija                (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">relighii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">sf</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
          =  im. `enski rod    (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">substantif
fem</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.)</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">
</FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">sing</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
      =  singular                (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">singular</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">sing.
tantum =</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
im. koi imaat samo ednina</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">sm</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
        =  im. ma{ki rod      (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">subst.
masc</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">sn</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
         =  im. sreden rod       (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">subst.
neut</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">teat.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  teatar                    (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">teatru</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">teh.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
        =  tehnika                  (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">tehnicã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">text.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  tekstil                  (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">textil</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">tr</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
           =  preoden (glagol) (tranzitiv)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">trg.
</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
        =  trgovija                 (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">comertsu</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">v</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
           = vidi                      (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">vedz</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">vb.
         = </FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">verb</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">
                      (verbu)</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">voj</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
        = vojni~ki               (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">di-ashcheri</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">zam.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  zamenka                 (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">pronumi</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">zast.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  zastaren zbor      (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">veclju
zbor</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">zem.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  zemjodelstvo        (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">agriculturã</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">zool.</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
       =  zoologija              (</FONT></FONT><FONT SIZE=2 STYLE="font-size: 11pt">zoologhii</FONT><FONT FACE="MAC C Times, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT></P>
