
<form id='SearchForm_search' method='post' action='{% url SearchController %}'>
    <input type='hidden' name='op' value={{op}}/>
   {% for field in SearchForm %}
   {%if field.is_hidden %}
   {{ field }}
   {%endif %}
   {% endfor %}
<table>
{% for field in SearchForm %}
    {% if field.is_hidden %} {% else %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td><input type='submit' value='Cafta/Baraj'></td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
    {% endif %}
{% endfor %}
</table>
</form>