<h2>Word List: </h2>
<table>
{% for item in WordList %}
    <tr>
        <td>
            {{item}}
        </td>
        <td><a class='detail'  href='{%url WordController %}?op=edit&key={{item.key}}'>Detail</a></td>
        <td> <a class='delete' href='{%url WordController %}?op=delete&key={{item.key}}'>Delete</a></td>
    </tr>
{% endfor %}
</table>

{%ifnotequal count 0 %}<a href='{%url WordController %}?op=index&index={{index}}&&count=-{{count}}'>Previous</a>{%endifnotequal%}
{%if WordList%}<a href='{%url WordController %}?op=index&index={{index}}&&count={{count}}'>Next</a> |{%endif%}
<h3><a href='{%url WordController %}?op=edit'>New</a><h3>
