{%block styles %}
{{block.super}}
<link href="/styles/superfish.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/jscripts/hoverIntent.js" ></script>
<script type="text/javascript" src="/jscripts/superfish.js" ></script>
<script language="text/javascript">
$(document).ready(function() {
    $('ul.sf-menu').superfish();
});
{% endblock %}
</script>
{% comment %}
<!-- <link href="/styles/jqueryslidemenu/jqueryslidemenu.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/jscripts/jqueryslidemenu.js" ></script>
 -->
{% endcomment %}
<div id="menu" style="padding-left: 15px; margin-top: -5px;position: relative;" >
    <ul class="sf-menu">
        <li><a href="{% url GuestController %}">Apply as Guest</a>
            {% if current_user.IsAdmin %}
            <ul><li><a href="{% url GuestController %}?op=lst">Листа Пријавени</a></li></ul>
            {% endif %}
        </li>
        <li><a href="{% url HostController %}">Пријави се за Домаќин-Arman</img></a>
            {% if current_user.IsAdmin %}
            <ul><li><a href="{% url HostController %}?op=lst">Листа Пријавени</a></li></ul>
            {% endif %}
        </li>
        <li><a href='{% url SearchController %}'>Dictsionar</a></li>
        {% if current_user %}
            {% if current_user.IsAdmin %}
                <ul>
                <li><a href='{% url WordController %}'>Dictsionar</a></li>
                </ul>
            {% endif %}
        {% endif %}
        <li><a href="{% url AboutController %}">About</a></li>
    </ul>
</div>