{%block styles %}
{{block.super}}
<link href="/styles/superfish.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/jscripts/hoverIntent.js" ></script>
<script type="text/javascript" src="/jscripts/superfish.js" ></script>
<script language="text/javascript">
$(document).ready(function() {
    $('ul.sf-menu').superfish();
});
{% endblock %}
</script>
{% comment %}
<!-- <link href="/styles/jqueryslidemenu/jqueryslidemenu.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/jscripts/jqueryslidemenu.js" ></script>
 -->
{% endcomment %}
    <ul class="sf-menu">
        <li><a href='{% url SearchController %}'>Dictsionar</a>
        {% if current_user %}
            {% if current_user.IsAdmin %}
                <ul>
                    <li><a href='{% url WordController %}?op=edit'>New Word</a></li>
                    <li><a href='{% url WordController %}?op=index'>List Words</a></li>
                	<li><a href='{% url DictionaryController %}?op=index'>Dictionaries</a></li>
                	<li><a href='{% url LanguageController %}?op=index'>Languages</a></li>
                </ul>
            {% endif %}
        {% endif %}
        </li>
	    <li><a href="{% url ArmanController%}">Register Arman</a></li>
        <li><a href="{% url AboutController %}">About</a></li>
        <li><a href="{% url ContactController %}">Contact</a></li>
    </ul>