<h2>Dolg List: </h2>
<table class="sortable" border="1" cellspacing="0">
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Ammount</th>
        <th>Note</th>
        <th>Date</th>
        <th> </th>
    </tr>
</thead>
<tbody>
{% for item in DolgList %}
    <tr>
        <td>
            {%ifequal item.Od.key current_user.key%}
                <a href="?filter&key={{item.Na.key}}">{{item.Na.Name}} {{item.Na.Surname}}</a>
            {%else%}
                 <a href="?filter&key={{item.Od.key}}">{{item.Od.Name}} {{item.Od.Surname}}</a>
            {%endifequal%}
        </td>
        <td>
            {%ifequal item.Od.key current_user.key%}
                Dolzi
            {%else%}
                Dolzam
            {%endifequal%}
        </td>
        <td>
            {{item.Kolicina}}
        </td>
        <td>
            {{item.Note}}
        </td>
        <td>
            {{item.Datum}}
        </td>
        <td>
        <a class='detail' href='{%url DolgController %}?op=edit&key={{item.key}}'>Edit</a>
         <a class='delete' href='{%url DolgController %}?op=delete&key={{item.key}}'>Delete</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<h3><a href='{%url DolgController %}?op=edit'>New</a><h3>
