<h2>Dolg: </h2>
<form id='DolgForm' method='post' action='{% url DolgController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{key}}></input>
<table>
{% for field in DolgForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if DolgForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
<a href='{%url DolgController%}'>Back</a>